body{
    margin:auto;
}
/* Start from the Header */
#header {
    height: 50px;
    background-color: #eadede;
}

#social {
    float: right;
    margin-right: 1%;
}

.socialhandle {
    height:50px;
    width:50px;
}

#icon{
    margin-left: 1%;
    margin-top:-1%;
    position: absolute;
    color: black !important;
}

#icon > h1 > a{
    color: black !important;
    text-decoration: none;
}
a{
    text-decoration: none;
}

.sort{
    font-size:20;
    font-weight:1000;
    /* line-height:1.5; */
    margin-top: -13px;
}

.price{
    font-size:20;
    font-weight:600;
}
.listingpage{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#listingcontainer{
    width:85%;
    height: 810px;
    margin-left: 5%;
    /* box-shadow: 0px 0px 9px 1px rgb(175 175 175 / 47%); */
    float:left;
}

#filter{
    font-size:30;
    text-align: center; 
}

.Filtercontainer{
    width:20%;
    height:600px;
    float:left;
    box-shadow: 5px 14px 9px 1px rgb(175 175 175 / 60%);
}

.option{
    font-size:20px;
    padding-bottom:5px;
    margin-left: 25;
}

.label{
    font-size:20px;
    padding-bottom:5px;
    margin-left: 25;
}

.topcontent {
    margin-left: 1px;
    
    /* background-color: rgb(241, 241, 21); */
    /* box-shadow: 0px 0px 9px 1px rgb(175 175 175 / 47%); */
    width: 79%;
    height:100%;
    float:left;
}

.ContentContainer1{
    width:96%;
    height:250px;
    float:left;
    margin-left:4%;
    border-radius: 10px;
    margin-bottom:30px;
    box-shadow: 5px 14px 9px 1px rgb(175 175 175 / 60%);
}

.ContentContainer2{
    width:96%;
    height:250px;
    float:left;
    margin-left:4%;
    border-radius: 10px;
    margin-bottom:30px;
    box-shadow: 5px 14px 9px 1px rgb(175 175 175 / 60%);
}

.ContentContainer3{
    width:96%;
    height:250px;
    float:left;
    margin-left:4%;
    border-radius: 10px;
    box-shadow: 5px 14px 9px 1px rgb(175 175 175 / 60%);
}
.component1{
    width:30%;
    height:250px;
    float:left;
}

.component1 > img{
    width: 100%;
    height: 100%;
    padding-right:5px;
}

.component2{
    margin-left:7px;
    /* justify-content:center; */
    float:left;
    width:69%;
    height:100%;
}

.fooddescription{
    font-size: 20px;
    letter-spacing: 1px;
    margin:10px 0px;
    padding:5px;
}

.rating
{
    background-color: green;
    padding:3px 7px;
    color:white;
    font-weight: 600;
    border-radius: 5px;
}

footer{
    background-color:black;
    color:white;
    margin-top: 60%;
    width:100%;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-bottom: 20px;

}