body{
    margin:auto
}

/* Start from the Header */
#header {
    height: 50px;
    background-color: #eadede;
}

#social {
    float: right;
    margin-right: 1%;
}

.socialhandle {
    height:50px;
    width:50px;
}

#icon{
    margin-left: 1%;
    margin-top:-1%;
    position: absolute;
}
a{
    text-decoration: none;
}

/* Search */
#overlay{
    display:flex;
    background:transparent;
    position: absolute;
    color: #fff;
    font-size: 23px;
    margin-left: 5%;
    margin-top: 1%;
}
#overlay a{
    text-decoration: none;
    color:#fff;
}
#overlay > img{
    height: 30px;
    
}
#search{
    height: 450px;
    background-image: url("https://images.unsplash.com/photo-1457460866886-40ef8d4b42a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%, 100px;
    border: 2px solid red;
}

#logo{
    height:150px;
    width:150px;
    margin-left: 600;
    margin-top: 100;
    position: absolute;
    font-size:100px;
    color:#ffffff;
    font-weight: bold;
}

#heading{
    margin-left: 531;
    margin-top: -235;
    position: absolute;
    font-size:45px;
    color:white
}

.dropdown{
    height:60px;
    width:60%;
    margin-left: 30%;
    margin-top: -10%;
    position: absolute;
}

.dropdown .icon{
    font-size: 17px;
    color:rgb(199, 199, 199);
}
select{
    height:60px;
    width:35%
}

.btn-light{
    position: absolute;
    margin-top: 3%;
    margin-left: 750%;
    border-radius: 3px;
    border: 0px none;
    border: 2px solid white; 
    background:none; 
    color: #ffffff;
    font-size: 14px;
    /* font-family: Poppins; */
    font-weight: 500;
  }
  .btn-outline-light{
    position: absolute;
    margin-top: 3%;
    margin-left: 800%;
    border-radius: 3px;
    border: 2px solid white;  
    background:none; 
    color: #ffffff;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 500;
    padding: 5px;
  }

/* Quick Search */
#QuickSearch{
    width:80%;
    margin-right:10%;
    margin-top:6%;
    margin-bottom: 5%;
    display: inline-block;
    /* margin-left: -204px; */
    border:1px solid red;
}

#QuickHeading{
    display:block;
    color:#ac2e31;
    font-size:30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 16%;
    margin-top:0;
}


#QuickSubHeading{
    line-height: 2;
    color:gray;
    font-size:20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 16%;
}

.mainTile {
    margin-left: 15%;
}

.tileContainer{
    height: 275px;;
    width:22%;
    /* display:inline-block; */
    float:left;
    /* padding: 10%; */
    margin-top: 2%;
    margin-left: 2%;
    margin-right:1.3%;
    box-shadow: 7px 10px 17px gray;
    border-radius: 10px;
}

.tileContainer:hover{
    transform:scale(1.1);
}
.tileComponent1{
    width:100%;
    justify-content: center;
    height:180px;
}

a > img {
    width:100%;
    height:180px;  
    border-radius: 10px;
}

.tileComponent1 > img{
    width:100%;
    height:180px;  
}


.tileComponent2{
    /* width:40%;
    float: left;
    height:100px;
    margin-left: 5%;
    margin-top: 12%; */
    display:inline-block;
}
.componentHeading{
    color:#ac2e31;
    font-size: 25px;
}

.componentHeading > a{
    color:#ac2e31 !important;
    text-decoration: none !important;
}

.componentSubHeading{
    color:gray;
    font-size: 15px;
}

footer{
    background-color:black;
    color:white;
    width:100%;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 0px;
    padding-bottom: 10px;
}